# App
PORT=
URL_CLIENT=
APP_URL=

# DB
MYSQL_HOST=
MYSQL_PORT=
MYSQL_NAME=
MYSQL_USER=
MYSQL_PASSWORD=

# HASHES
ROUNDS_HASH_PASSWORD=

# JWT
# **_EXPIRES_IN=seconds
ACCESS_SECRET=
ACCESS_EXPIRES_IN=
REFRESH_SECRET=
REFRESH_EXPIRES_IN=

# Google OAuth2.0
# In .env.test you should put fake value. Ex: fake-client-id., is sufficient.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
